$nav-color: #aaa;
$default-color: #888;
$success-color: #43ac6a;
$info-color: #0596D5;
$info-text-color: #5bc0de;
$head-color: #333;
$blue:#2C3E50;
$box-title : #eee;
$red : #F00;
$gray : #666 !important;
$color-white : #fff;

$color-bubble-i : #3598db;
$color-bubble-j : #fff;
